{% extends 'base.html' %}
{% load static %}

{% block style %}  
    <link rel="stylesheet" href="{% static 'css/group.css' %}"> 
    <style>
        html, body{
            height: 100%;
        }
        div.main-group{
            border: 5px solid red;
            height: 100%;
        }
        div.main-group-in{
            border: 5px solid blue;
            height: 50%;
        }
    </style>
{% endblock %}

{% block main %}
       <div class="main-group">
            <div class="main-group-in">
                <table>
                    <thead>
                        <tr>
                            <td>Users</td>
                            <th><a href="">1</a></th>
                            <th><a href="">234</a></th>
                            <th><a href="">556</a></th>
                            <th><a href="">45</a></th>
                            <th><a href="">6677</a></th>
                            <th><a href="">5633</a></th>
                        </tr>
                    </thead>
                    <tbody>
                     
                        <tr>
                            <td><a href="">Muxtar</a></td>                        
                            <td>0%</td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">80%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td><a href="">Esmer</a></td>                        
                            <td>0%</td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">80%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="">Novruz</a></td>                        
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">80%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="">Muxtar</a></td>                        
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">80%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="">Vaqif</a></td>                        
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">80%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="">Eli</a></td>                        
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">80%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="">Muxtar</a></td>                        
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">80%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="">Osman</a></td>                        
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">90%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="nosuccess">80%<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td><a href="" class="success">100%<i class="fa fa-check" aria-hidden="true"></i></a></td>
                        </tr>

                    </tbody>
                </table>
            </div>  
       </div>
  {% endblock %}