{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}    

{% block main %}
        <div class="main-user">
            <div class="user-account">
                <div class="title-accounts">
                    <h1>Solutions</h1>
                    {% if messages %}
                        {% for message in messages %}    
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="forms">

                    <div class="change">
                        <div class="login-title">
                            <a onclick="change(this)" data-link="/accounts/login/">Log in</a>
                        </div>
                        <div class="sign-title">
                            <a onclick="change(this)" data-link="/accounts/register/">Sign up</a>
                        </div>
                    </div>

                    <div class="login form {{ login }}">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="">

                                <div class="inp">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    {{ loginForm.username }}
                                    <!-- <input type="text" placeholder="Username" onclick="borderBottom(this)" onmouseout="removeBottom(this)" name="username"> -->
                                </div>

                                <div class="inp">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                    {{ loginForm.password }}
                                    <!-- <input type="Password" placeholder="Passowrd" onclick="borderBottom(this)" onmouseout="removeBottom(this)" name="password"> -->
                                </div>

                                <div class="remember">
                                    <div>
                                        <input type="checkbox" id="remember" style="background-color: red;">
                                        <label for="remember">Remember me</label>
                                    </div>                  
                                    <div>
                                        <a href="" class="forget">Forget your password</a>
                                    </div>              
                                </div>

                                <div>
                                    <input type="submit" value="Log In">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="sign form {{ register }}">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="">
                                <div class="inp">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input type="text" placeholder="Username" name="username">
                                </div>

                                <div class="inp">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <input type="email" placeholder="Email" name="email">
                                </div>
                                <div class="inp">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                    <input type="password" placeholder="Passowrd" name="password">
                                </div>
                                <div>
                                    <input type="submit" value="Sign In">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="socials">
                        <div><a href="#"><img src="{% static 'images/facebook.svg' %}" alt="" class="social"></a></div>
                        <div><a href="#"><img src="{% static 'images/google.svg' %}" alt="" class="social"></a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}