{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/problems.css' %}">
{% endblock %}

{% block main %}      
        <div class="main">
            <div class="in-main">
                <div class="left">
                    <div class="problem-title">
                        <div class="title-name">Title</div>
                        <div class="title-solution">Solution</div>
                        <!-- <div class="title-acceptance">Acceptance</div> -->
                        <div class="title-difficulty">Difficulty</div>
                        <div>Number</div>
                        <!-- <div class="title categorie">Categorie</div> -->
                    </div>
                    <hr style="color: rgb(200, 200, 200); padding: 0; margin: 0;">
                    
                    <div class="problems">

                        {% for problem in problems %}
                            <div class="problem odd">
                                <div class="problem-name"><a href="{% url 'problemdetail' problem.id %}">{{ problem.title }}</a></div>
                                <div class="solution"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                                <!-- <div class="acceptance">55%</div> -->
                                <div class="difficulty" id="{{ problem.get_difficulty_display|lower }}">{{ problem.get_difficulty_display }}</div>
                                <div>{{ problem.id }}</div>
                            </div>                        
                        {% endfor %}

                        <!--
                        <div class="problem even">
                            <div class="problem-name"><a href="">List icindeki cemi</a></div>
                            <div class="solution"><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></div>
                            <div class="acceptance">50.6%</div>
                            <div class="difficulty" id="hard">Easy</div>
                            <div>343</div>

                        </div>
                        <div class="problem odd">
                            <div class="problem-name"><a href="">Sort Array By Parity</a></div>
                            <div class="solution"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                            <div class="acceptance">56.6%</div>
                            <div class="difficulty" id="hard">Hard</div>
                            <div>124</div>

                        </div>
                        <div class="problem even">
                            <div class="problem-name"><a href="">Sort Array By Parity</a></div>
                            <div class="solution"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                            <div class="acceptance">43.6%</div>
                            <div class="difficulty" id="easy">Easy</div>
                            <div>404    </div>

                        </div> -->

                    </div>
                    
                </div>
                <div class="right"></div>
            </div>
        </div>
{% endblock %}

{% block js %}
    <!-- <script src="../static/js/problems.js"></script> -->
{% endblock %}
