{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main %}  
        <div class="profile-content">
            <div class="profile-in-content">
                <div class="left">
                    <div>
                        <img src="{% static 'images/user.jpg' %}" alt="" width="150" height="150">
                        <h5>Esmer Qacayli</h5>
                        <p>esmer@gmail.com</p>
                        <p>+99451-6480040</p>
                        <p>Azerbaijan</p>
                        <a onclick="show('password', 'all')" class="change-password" style="cursor: pointer;">Change password</a><br>
                        <a href="">Logout</a>
                        <button onclick="show('all', 'password')" class="change-all"><i class="fa fa-edit"></i></button>
                    </div>
                    <hr>
                    <div class="edit">
                        <div class="edit-main all">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>
                                    <h5 style="color: rgb(100, 100, 100);">Edit form</h5>
                                    <hr style="color: rgb(200, 200, 200)">
                                </div>
                                {% for tag in forms %}
                                    <div>
                                        {{ tag.label }}
                                        {{ tag }}
                                        <!-- <label for="">First name</label> -->
                                        <!-- <input type="text" value="Muxtar"> -->
                                    </div>
                                {% endfor %}

                                <!-- <div>
                                    <label for="">Last name</label>
                                    <input type="text" value="Bayramov">
                                </div>
                                <div>
                                    <label for="">Country</label>
                                    <select name="" id="" class="generaly-select">
                                        <option value="">Azerbaycan</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="">Email</label>
                                    <input type="email" value="muxtar.bayramov92@gmail.com">
                                </div>
                                <div class="phone">
                                    <label for="">Phone number</label>
                                    <select name="" id="" class="generaly-select phone">
                                        <option value="">+994</option>
                                        <option value="">+712</option>

                                    </select>
                                    <input type="text" class="phone-number" value="516480030">
                                </div> -->

                                <div class="buttons">
                                    <button class="cancel" onclick="close()">Cancel</button>
                                    <button class="save" type="submit">Save</button>
                                </div>
                            </form>
                            
                        </div>
                        <div class="edit-main password">
                            <form action="">
                                <div>
                                    <h5 style="color: rgb(100, 100, 100);">Edit form</h5>
                                    <hr style="color: rgb(200, 200, 200)">
                                </div>
                                <div>
                                    <label for="">Old Password</label>
                                    <input type="password" placeholder="Old password">
                                </div>
                                <div>
                                    <label for="">New Password</label>
                                    <input type="text" placeholder="New password">
                                </div>
                                <div>
                                    <label for="">New Password2</label>
                                    <input type="password" placeholder="New password">
                                </div>
                               
                                <div class="buttons">
                                    <button class="cancel" onclick="close()">Cancel</button>
                                    <button class="save">Save</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
       
                </div>
                <div class="right">
                    <div class="programing-categories">
                        <a href="">Groups</a>
                        <!-- <a href="">Sql</a> -->
                    </div>
                    <div class="problems">
                        <div class="problem">
                            <div class="title problem-name"><a href="">Title</a></div>
                            <div class="title solution">Solution</div>
                            <div class="title acceptance">Acceptance</div>
                            <div class="title difficulty">Difficulty</div>
                            <!-- <div class="title categorie">Categorie</div> -->
                        </div>
                        <hr style="color: rgb(200, 200, 200); padding: 0; margin: 0;">

                        <div class="problem">
                            <div class="problem-name"><a href="problem.html">En boyuk reqemin sayi</a></div>
                            <div class="solution"><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></div>
                            <div class="acceptance">75.6%</div>
                            <div class="difficulty hard">Hard</div>
                        </div>
                        <div class="problem">
                            <div class="problem-name"><a href="problem.html">En boyuk reqemin sayi</a></div>
                            <div class="solution"><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></div>
                            <div class="acceptance">75.6%</div>
                            <div class="difficulty medium">Medium</div>
                        </div>
                        <div class="problem">
                            <div class="problem-name"><a href="problem.html">En boyuk reqemin sayi</a></div>
                            <div class="solution"><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></div>
                            <div class="acceptance">75.6%</div>
                            <div class="difficulty medium">Medium</div>
                        </div>
                        <div class="problem">
                            <div class="problem-name"><a href="problem.html">En boyuk reqemin sayi</a></div>
                            <div class="solution"><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></div>
                            <div class="acceptance">75.6%</div>
                            <div class="difficulty medium">Medium</div>
                        </div>
                        <div class="problem">
                            <div class="problem-name"><a href="problem.html">En boyuk reqemin sayi</a></div>
                            <div class="solution"><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></div>
                            <div class="acceptance">75.6%</div>
                            <div class="difficulty medium">Medium</div>
                        </div>
                        <div class="problem">
                            <div class="problem-name"><a href="problem.html">En boyuk reqemin sayi</a></div>
                            <div class="solution"><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></div>
                            <div class="acceptance">75.6%</div>
                            <div class="difficulty medium">Medium</div>
                        </div>
                        <div class="problem">
                            <div class="problem-name"><a href="problem.html">En boyuk reqemin sayi</a></div>
                            <div class="solution"><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></div>
                            <div class="acceptance">75.6%</div>
                            <div class="difficulty medium">Medium</div>
                        </div>
                        <div class="problem">
                            <div class="problem-name"><a href="problem.html">En boyuk reqemin sayi</a></div>
                            <div class="solution"><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></div>
                            <div class="acceptance">75.6%</div>
                            <div class="difficulty medium">Medium</div>
                        </div>
                        <div class="problem">
                            <div class="problem-name"><a href="problem.html">En boyuk reqemin sayi</a></div>
                            <div class="solution"><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></div>
                            <div class="acceptance">75.6%</div>
                            <div class="difficulty medium">Medium</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
{% endblock %}

{% block js %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}